{$DOMAIN} {
    handle /api/* {
		reverse_proxy backend:8000
	}

	handle_path /games* {
		root * /srv/builds
		file_server browse
	}


	# Обработка ошибок
	handle_errors {
		respond "{err.status_code} {err.status_text}"
	}
}
